{{#each posts as |post|}}
  <div class="postCard">
    <a href="/post/{{id}}" class="cardTitle">{{title}}</a>
    <p>
      {{body}}
    </p>
    <p class="author"> - {{user.username}} {{format_date created_at}}</p>
  </div>

  {{!-- <h2>Comments</h2>
  {{#each post.comments}}
    <div id="commentbody" class="commentBody">
      <p>
        {{body}}
      </p>
      <div class="iconsBar">
        <p class="author">{{user.username}}</p>
        <p class="timeStamp">{{format_date created_at}}</p>
        <button class="editbutton">
          Edit
        </button>
        <button class="deletebutton">
          Delete
        </button>
      </div>
    </div>
  {{/each}} --}}
{{/each}}