{{#each posts as |post|}}
  <div class="postCard">
    <a href="/post/{{id}}" class="cardTitle">{{title}}</a>
    <p>
      {{body}}
    </p>
    <p class="author"> - {{user.username}} {{format_date created_at}}</p>
  </div>
{{/each}}