{{#each posts as |post|}}
  <div class="postCard">
    <a href="#{{id}}" class="cardTitle">{{title}}</a>
    <p>
      {{body}}
    </p>
    <p class="author"> - {{user.username}}</p>
  </div>

  <h2>Comments</h2>
  {{#each post.comments}}
    <div id="commentbody" class="commentBody">
      <p>
        {{body}}
      </p>
      <div class="iconsBar">
        <p class="author">{{user.username}}</p>
        <p class="timeStamp">{{created_at}}</p>
        <button class="editbutton">
          <i class="fa-solid fa-pen-to-square fa-2x"></i>
        </button>
        <button class="deletebutton">
          <i class="fa-solid fa-trash-can fa-2x"></i>
        </button>
      </div>
    </div>
  {{/each}}
{{/each}}