<!-- DASHBOARD -->
<section id="dashboard" class="dashboard">
  <nav>
    <ul>
      <li>
        <a href="/homepage">Home</a>
      </li>
      <li>
        <a href="/dashboard"> Dashboard</a>
      </li>
      <li>
        <button id="logoutButton" class="btn-no-style">Log Out</button>
      </li>
    </ul>
  </nav>
  <h2>{{user.username}}'s Dashboard</h2>
  {{#if user.posts}}
    {{#each user.posts as |post|}}
      <div class="postCard">
        <a href="/post/{{id}}" class="cardTitle">{{post.title}}</a>
        <p> {{post.body}} </p>
        <p class="author"> {{format_date created_at}}</p>
      </div>
    {{/each}}
    <a href="/new-post">
      <button class="newPostButton"> Add New Post</button></a>
  {{else}}
    <div class="postCard">
      <p>No posts yet, click "Add New Post" to get started!</p>
    </div>
    <a href="/new-post">
      <button class="newPostButton"> Add New Post</button></a>
  {{/if}}

</section>

<script src="/javascript/logout.js"></script>