<!-- DASHBOARD -->
<section id="dashboard" class="dashboard">
  <nav>
    <ul>
      <li>
        <a href="/homepage">Home</a>
      </li>
      <li>
        <a href="/dashboard"> Dashboard</a>
      </li>
      <li>
        <button id="logoutButton" class="btn-no-style">Log Out</button>
      </li>
    </ul>
  </nav>
  <h2>{{user.username}}'s Dashboard</h2>
  {{#if user.post}}
    {{#each posts as |post|}}
      <div class="postCard">
        <a href="#postNumber" class="cardTitle">{{title}}</a>
        <p> {{body}} </p>
        <p class="author"> {{format_date created_at}}</p>
      </div>
      <button class="newPostButton">Add New Post</button>
    {{/each}}
  {{else}}
    <div class="postCard">
      <p>No posts yet, click "Add New Post" to get started!</p>
    </div>
    <button class="newPostButton">Add New Post</button>
  {{/if}}

</section>

<script src="/javascript/logout.js"></script>