<!-- ONE POST EXAMPLE WITH COMMENT -->
<section class="singlePost">
  <!-- Nav Bar -->
  <nav>
    <ul>
      <li>
        <a href="/homepage">Home</a>
      </li>
      <li>
        <a href="/dashboard"> Dashboard</a>
      </li>
      <li>
        {{#if loggedIn}}
          <button id="logoutButton" class="btn-no-style">Log Out</button>
        {{else}}
          <a href="/login">Log In</a>
        {{/if}}
      </li>
    </ul>
  </nav>
  <div class="postTitle">
    <h3>{{post.title}}</h3>
  </div>
  <div class="postBody">
    <p>{{post.body}}</p>
    <div class="iconsBar">
      <p class="author">{{post.user.username}}</p>
      <p class="timeStamp">{{format_date post.created_at}}</p>
      <button class="editbutton">
        <i class="fa-solid fa-pen-to-square fa-lg"></i>
      </button>
      <button class="deletebutton">
        <i class="fa-solid fa-trash-can fa-lg"></i>
      </button>
      <button class="commentbutton">
        <i class="fa-solid fa-message fa-lg"></i>
      </button>
    </div>
  </div>
  <h2>Comments</h2>
  {{#each post.comments}}
    <div id="commentbody" class="commentBody">
      <p><span class="author">{{user.username}}: </span>{{body}}</p>
      <div class="iconsBar">
        <p class="timeStamp">{{format_date created_at}}</p>
        <button class="editbutton">
          <i class="fa-solid fa-pen-to-square fa-lg"></i>
        </button>
        <button class="deletebutton">
          <i class="fa-solid fa-trash-can fa-lg"></i>
        </button>
      </div>
    </div>
  {{/each}}
</section>

{{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
{{/if}}