<!-- ONE POST EXAMPLE WITH COMMENT -->
<section class="singlePost">
  <!-- Nav Bar -->
  <nav>
    <ul>
      <li>
        <a href="/homepage">Home</a>
      </li>
      <li>
        <a href="/dashboard"> Dashboard</a>
      </li>
      <li>
        {{#if loggedIn}}
          <button id="logoutButton" class="btn-no-style">Log Out</button>
        {{else}}
          <a href="/login">Log In</a>
        {{/if}}
      </li>
    </ul>
  </nav>

  <div class="post-div">
    <div class="postTitle">
      <h3>{{post.title}}</h3>
    </div>
    <div class="postBody">
      <p>{{post.body}}</p>
      <div class="iconsBar">
        <p class="author">{{post.user.username}}</p>
        <p class="timeStamp">{{format_date post.created_at}}</p>
        <button id="editPost" class="editbutton" style="float: right;">
          Edit
        </button>
        <button id="deletePost" class="deletebutton" style="float: right;">
          Delete
        </button>
      </div>
    </div>

    <h2>Comments</h2>
    {{#each post.comments}}
      <div id="commentbody" class="commentBody">
        <p><span class="author">{{user.username}}: </span>{{body}}</p>
        <div class="iconsBar">
          <p class="timeStamp">{{format_date created_at}}</p>
          <div id="{{id}}">
            <button id="editComment" class="editbutton">
              Edit
            </button>
            <button id="deleteComment" class="deletebutton">
              Delete
            </button>
          </div>
        </div>
      </div>
    {{/each}}

    <div class="postBody" style="margin-top: 20px;">
      <div>
        <form
          id="newcommentForm"
          style="padding: 10px; text-align: center;"
          action=""
        >
          <label style="font-size: 20px;" for="commentInput">Reply: </label>
          <input
            id="commentInput"
            type="text"
            placeholder="Add your comment here!"
            style="width: 100%; min-height: 30px"
            required
          />
          <button class="commentbutton">
            Add Comment
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

{{#if post.comments}}
  <script src="/javascript/commentUpdate.js"></script>
{{/if}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/post.js"></script>

{{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
{{/if}}